@model List<ChucVuVM>

@{
    ViewData["Title"] = "Quản lý chức vụ";
    
    int trangHienTai = ViewBag.TrangHienTai ?? 1;
    int tongSoTrang = ViewBag.TongSoTrang ?? 1;
    int soDongTrenTrang = 15;
    int sttcv = (trangHienTai - 1) * soDongTrenTrang + 1;
}

<div class="p-3">
    <div class="flex justify-between items-center mb-3 flex-wrap gap-3">
        <h2 class="text-lg font-medium">Danh sách chức vụ</h2>
        <div class="flex gap-3 items-center grow justify-end">
            <label class="input h-8 text-xs w-full md:max-w-70 pr-[8px]">
                <input type="text" id="timKiemChucVu" class="grow" placeholder="Tìm theo tên chức vụ">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#B7B7B7" class="cursor-pointer" id="xoaTimKiemChucVu">
                    <path d="M257.85-231.38 232-257.85 453.54-480 232-702.15l25.85-26.47L480-506.46l222.15-222.16L728-702.15 506.46-480 728-257.85l-25.85 26.47L480-453.54 257.85-231.38Z"/>
                </svg>
            </label>
            <a asp-action="ChiTiet" asp-controller="ChucVu" class="btn btn-outline btn-primary btn-sm hover:text-base-100 font-normal shadow-none">Thêm chức vụ</a>
        </div>
    </div>

    <div class="overflow-x-auto rounded-box border border-base-300">
        <table class="table">
            <thead>
                <tr>
                    <th class="p-2 text-base-content w-20">STT</th>
                    <th class="p-2 text-base-content">Tên chức vụ</th>
                    <th class="p-2 text-base-content w-20">Hành động</th>
                </tr>
            </thead>
            <tbody id="bodyBangChucVu">
                @if(Model != null && Model.Count > 0) {
                    @foreach (var chucVu in Model)
                    {
                        <tr class="align-top">
                            <td class="p-2">
                                @sttcv
                            </td>
                            <td class="p-2">
                                @chucVu.TenCV
                            </td>
                            <td class="p-2">
                                <div class="flex items-center gap-2">
                                    <a asp-action="ChiTiet" asp-controller="ChucVu" asp-route-ma="@chucVu.MaCV" class="tooltip-left" data-tip="Xem chi tiết chức vụ">
                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--color-base-content)">
                                            <path d="M226.89-165.54q-25.75 0-43.55-17.8-17.8-17.8-17.8-43.55v-506.22q0-25.75 17.8-43.55 17.8-17.8 43.68-17.8h220.36v36.92h-220.3q-9.23 0-16.93 7.69-7.69 7.7-7.69 16.93v505.84q0 9.23 7.69 16.93 7.7 7.69 16.93 7.69h505.84q9.23 0 16.93-7.69 7.69-7.7 7.69-16.93v-220.3h36.92v220.36q0 25.88-17.8 43.68t-43.55 17.8H226.89Zm163.76-198.77-26.34-26.34 367.27-366.89h-176.5v-36.92h239.38v239.38h-36.92v-176.5L390.65-364.31Z"/>
                                        </svg>
                                    </a>
                                    @if(!chucVu.DaSuDung) {
                                        <button class="btn-ghost flex cursor-pointer tooltip-left" onclick="document.getElementById('xoa_chuc_vu_modal_@chucVu.MaCV').showModal()" data-tip="Xóa chức vụ">
                                            <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--color-error)">
                                                <path d="m336-310.81 144-144 144 144L649.58-336l-144-144 144-144L624-649.58l-144 144-144-144L310.81-624l144 144-144 144L336-310.81ZM226.89-165.54q-25.75 0-43.55-17.8-17.8-17.8-17.8-43.55v-506.22q0-25.75 17.8-43.55 17.8-17.8 43.55-17.8h506.22q25.75 0 43.55 17.8 17.8 17.8 17.8 43.55v506.22q0 25.75-17.8 43.55-17.8 17.8-43.55 17.8H226.89Zm.19-36.92h505.84q9.23 0 16.93-7.69 7.69-7.7 7.69-16.93v-505.84q0-9.23-7.69-16.93-7.7-7.69-16.93-7.69H227.08q-9.23 0-16.93 7.69-7.69 7.7-7.69 16.93v505.84q0 9.23 7.69 16.93 7.7 7.69 16.93 7.69Zm-24.62-555.08V-202.46-757.54Z"/>
                                            </svg>
                                        </button>
                                    }

                                    <dialog id="xoa_chuc_vu_modal_@chucVu.MaCV" class="modal">
                                        <div class="modal-box p-3">
                                            <h3 class=" font-medium font-medium">
                                                Xác nhận
                                            </h3>
                                            <p class="text-base mb-3 mt-2">
                                                Bạn có chắc chắn muốn xóa chức vụ "@chucVu.TenCV" không?
                                            </p>
                                            <form method="post" asp-action="Xoa" asp-controller="ChucVu" class="flex flex-col gap-3">
                                                <input type="hidden" name="ma" value="@chucVu.MaCV">
                                                <div class="modal-action mt-0 gap-3 ml-auto">
                                                    <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('xoa_chuc_vu_modal_@chucVu.MaCV').close()">Thoát</button>
                                                    <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Xóa</button>
                                                </div>
                                            </form>
                                        </div>
                                    </dialog>
                                </div>
                            </td>
                        </tr>

                        sttcv++;
                    }
                    <tr id="khongCoKetQua" style="display:none;">
                        <td colspan="3" class="p-2 text-center">
                            Không tìm thấy chức vụ phù hợp
                        </td>
                    </tr>
                } else {
                    <tr>
                        <td colspan="3" class="p-2 text-center">Danh sách rỗng</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @if (tongSoTrang > 1)
    {
        <div class="flex justify-center mt-3">
            <div class="join">
                <a asp-action="Index" 
                   asp-route-trang="@(trangHienTai - 1)" 
                   class="join-item btn btn-sm @(trangHienTai == 1 ? "btn-disabled" : "")">
                    &#10094;
                </a>
                @for (int i = 1; i <= tongSoTrang; i++)
                {
                    <a asp-action="Index" 
                       asp-route-trang="@i" 
                       class="join-item btn btn-sm @(trangHienTai == i ? "btn-active btn-primary text-base-100" : "")">
                        @i
                    </a>
                }
                <a asp-action="Index" 
                   asp-route-trang="@(trangHienTai + 1)" 
                   class="join-item btn btn-sm @(trangHienTai == tongSoTrang ? "btn-disabled" : "")">
                    &#10095;
                </a>
            </div>
        </div>
    }
</div>

@if (TempData["Success"] != null)
{
    <div id="toast" class="toast toast-top toast-end">
        <div class="alert alert-success">
            <span class="text-white">@TempData["Success"]</span>
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div id="toast" class="toast toast-top toast-end">
        <div class="alert alert-error">
            <span class="text-white">@TempData["Error"]</span>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function() {
        setTimeout(() => {
            document.getElementById('toast')?.remove();
        }, 3000);

        //
        const inputTKCV = document.getElementById("timKiemChucVu");

        const timKiemChucVu = () => {
            const rows = document.querySelectorAll("#bodyBangChucVu tr:not(#khongCoKetQua)");
            const emptyRow = document.getElementById("khongCoKetQua");

            inputTKCV.addEventListener("input", function () {
                const keyword = this.value.trim().toLowerCase();
                let count = 0;

                rows.forEach(row => {
                    const ten = row.cells[1].textContent.toLowerCase();

                    if (ten.includes(keyword)) {
                        row.style.display = "";
                        count++;
                    } else {
                        row.style.display = "none";
                    }
                });

                emptyRow.style.display = count === 0 ? "" : "none";
            });
        }

        timKiemChucVu();

        const xoaTimKiemChucVu = document.getElementById("xoaTimKiemChucVu");
        
        xoaTimKiemChucVu.addEventListener("click", () => {
            inputTKCV.value = "";
            inputTKCV.dispatchEvent(new Event("input"));
        });
    });
</script>
