@using System.Security.Claims
@model SangKienVM

@{
    ViewData["Title"] = (Model.MaSK > 0 ? "Chi tiết " : "Thêm ") + "sáng kiến kinh nghiệm";
    int stttcbgv = 1;
    var maCBGVHienTai = User.FindFirst("MaCBGV")?.Value;
    var quyenHienTai = User.FindFirst(ClaimTypes.Role)?.Value;
    int maVaiTroHD = 0;
    int.TryParse(User.FindFirst("MaVaiTroHD")?.Value, out maVaiTroHD);
}

<div class="p-3">
    <div class="flex justify-between items-center mb-3 flex-wrap gap-3">
        <h2 class="text-lg font-medium">@ViewData["Title"]</h2>
        @if(Model.MaSK > 0) {
            <a asp-action="ChiTiet" asp-controller="SangKien" class="btn btn-outline btn-primary btn-sm hover:text-base-100 font-normal shadow-none">Thêm sáng kiến</a>
        }
    </div>

    @if(Model.MaSK <= 0 || ((Model.TrangThaiSK == "NHAP" || Model.TrangThaiSK == "YEU_CAU_CHINH_SUA") && maCBGVHienTai == Model.MaCBGV)) {
        <div class="border border-base-300 p-3 rounded-box flex flex-col gap-3">
            <form method="post" asp-action="ChiTiet" asp-controller="SangKien" class="flex flex-col gap-3" enctype="multipart/form-data">
                <input type="hidden" asp-for="MaSK">
                <input type="hidden" asp-for="UrlTepDinhKem">
                <label>
                    Tên sáng kiến
                    <textarea asp-for="TenSK" class="textarea w-full mt-1" rows="2" placeholder="Nhập tên sáng kiến"></textarea>
                    <span asp-validation-for="TenSK" class="text-error text-sm"></span>
                </label>
                <label>
                    Tên chủ đầu tư
                    <select asp-for="MaCDT" asp-items="Model.DSChuDauTu" class="select w-full mt-1">
                        <option selected value="">Chọn tên chủ đầu tư</option>
                    </select>
                    <span asp-validation-for="MaCDT" class="text-error text-sm"></span>
                </label>
                <label>
                    Lĩnh vực áp dụng sáng kiến
                    <select asp-for="DSMaLV" asp-items="Model.DSLinhVuc" class="select w-full mt-1 max-h-50 overflow-y-auto !block" multiple></select>
                    <span asp-validation-for="DSMaLV" class="text-error text-sm"></span>
                </label>
                <label>
                    Ngày áp dụng sáng kiến lần đầu
                    <input type="date" asp-for="NgayApDung" class="input w-full mt-1">
                    <span asp-validation-for="NgayApDung" class="text-error text-sm"></span>
                </label>
                <label>
                    Thực trạng trước khi áp dụng sáng kiến
                    <textarea asp-for="ThucTrangTruoc" class="textarea w-full mt-1" rows="4" placeholder="Nhập thực trạng trước khi áp dụng sáng kiến"></textarea>
                    <span asp-validation-for="ThucTrangTruoc" class="text-error text-sm"></span>
                </label>
                <label>
                    Nội dung của sáng kiến
                    <textarea asp-for="NoiDung" class="textarea w-full mt-1" rows="4" placeholder="Nhập nội dung của sáng kiến"></textarea>
                    <span asp-validation-for="NoiDung" class="text-error text-sm"></span>
                </label>
                <label>
                    Khả năng áp dụng của sáng kiến
                    <textarea asp-for="KhaNangApDung" class="textarea w-full mt-1" rows="4" placeholder="Nhập khả năng áp dụng của sáng kiến"></textarea>
                    <span asp-validation-for="KhaNangApDung" class="text-error text-sm"></span>
                </label>
                <label>
                    Lợi ích thu được hoặc dự kiến thu được do áp dụng sáng kiến
                    <textarea asp-for="LoiIchDuKien" class="textarea w-full mt-1" rows="4" placeholder="Nhập lợi ích thu được hoặc dự kiến thu được do áp dụng sáng kiến"></textarea>
                    <span asp-validation-for="LoiIchDuKien" class="text-error text-sm"></span>
                </label>
                <label>
                    Điều kiện cần thiết để áp dụng sáng kiến
                    <textarea asp-for="DieuKienCanThiet" class="textarea w-full mt-1" rows="4" placeholder="Nhập điều kiện cần thiết để áp dụng sáng kiến"></textarea>
                    <span asp-validation-for="DieuKienCanThiet" class="text-error text-sm"></span>
                </label>
                <label>
                    Thông tin bảo mật cần được bảo mật
                    <textarea asp-for="ThongTinBaoMat" class="textarea w-full mt-1" rows="4" placeholder="Nhập các thông tin cần được bảo mật nếu có"></textarea>
                    <span asp-validation-for="ThongTinBaoMat" class="text-error text-sm"></span>
                </label>
                <label>
                    Môn học liên quan
                    <select asp-for="DSMaMH" asp-items="Model.DSMonHoc" class="select w-full mt-1 max-h-50 overflow-y-auto !block" multiple></select>
                    <span asp-validation-for="DSMaMH" class="text-error text-sm"></span>
                </label>
                <label>
                    <p class="flex items-center gap-2">
                        Tệp đính kèm 
                        @if (!string.IsNullOrEmpty(Model.UrlTepDinhKem)) {
                            <a href="@Model.UrlTepDinhKem" target="_blank" class="text-primary">[Xem]</a>
                            <button type="button" class="btn-ghost flex cursor-pointer text-error" onclick="document.getElementById('xoa_tep_modal').showModal()">[Xóa]</button>
                        }
                    </p>
                    <input type="file" asp-for="FileDinhKem" class="file-input w-full mt-1" placeholder="Chọn tệp đính kèm">
                    <span asp-validation-for="FileDinhKem" class="text-error text-sm"></span>
                </label>
                <div class="flex gap-3 justify-between items-center flex-wrap">
                    <div asp-validation-summary="ModelOnly" class="text-error text-sm"></div>
                    <div class="flex gap-3 ml-auto flex-wrap">
                        <a asp-action="Index" asp-controller="SangKien" class="btn btn-soft font-normal shadow-none">Thoát</a>
                        @if((Model.MaSK) > 0) {
                            if((Model.TrangThaiSK == "NHAP" || Model.TrangThaiSK == "YEU_CAU_CHINH_SUA") && (Model.DSCanBoGiangVienSK != null && Model.DSCanBoGiangVienSK.Count > 0)) {
                                <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('nop_sang_kien_modal').showModal()">Nộp</button>
                            }
                        }
                        <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Lưu</button>
                    </div>
                </div>
            </form>
            @if(Model.MaSK > 0) {
                <div>
                    <div class="flex justify-between items-center mb-3 flex-wrap">
                        <h3 class="text-base">Thành viên thực hiện sáng kiến</h3>
                        <button class="btn btn-outline btn-primary btn-sm hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('them_thanh_vien_sang_kien_modal').showModal()">Thêm thành viên</button>
                    </div>
                    <div class="overflow-x-auto rounded-box border border-base-300">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="p-2 text-base-content w-20">STT</th>
                                    <th class="p-2 text-base-content">Họ và tên (Tỉ lệ đóng góp)</th>
                                    <th class="p-2 text-base-content">Chức vụ</th>
                                    <th class="p-2 text-base-content">Đơn vị/Số điện thoại/Email</th>
                                    <th class="p-2 text-base-content">Trình độc chuyên môn</th>
                                    <th class="p-2 text-base-content w-20">Hành động</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if(Model.DSCanBoGiangVienSK != null && Model.DSCanBoGiangVienSK.Count > 0) {
                                    @foreach(var canBoGiangVienSK in @Model.DSCanBoGiangVienSK) {
                                        <tr class="align-top">
                                            <td class="p-2">
                                                @stttcbgv
                                            </td>
                                            <td class="p-2">
                                                @canBoGiangVienSK.HoTen (@canBoGiangVienSK.TiLeDongGop%)
                                            </td>
                                            <td class="p-2">
                                                @{
                                                    var chucVuMoiNhat = canBoGiangVienSK.DSChucVuDonVi
                                                        .OrderByDescending(c => c.ThoiGianBatDau)
                                                        .FirstOrDefault();
                                                }
                                                @if(chucVuMoiNhat != null) {
                                                    <p> @(chucVuMoiNhat.MaCV == 1 ? "-" : chucVuMoiNhat.TenCV)</p>
                                                }
                                            </td>
                                            <td class="p-2">
                                                @if(chucVuMoiNhat != null) {
                                                    <p>@chucVuMoiNhat.TenDV</p>
                                                }
                                                <p>@canBoGiangVienSK.SoDienThoai</p>
                                                <p>@canBoGiangVienSK.Email</p>
                                            </td>
                                            <td class="p-2">
                                                @foreach(var cBGVTrinhDoNganh in canBoGiangVienSK.DSTrinhDoNganh) {
                                                    <p>@cBGVTrinhDoNganh.TenTD - @cBGVTrinhDoNganh.TenNganh</p>
                                                }
                                            </td>
                                            <td class="p-2">
                                                <div class="flex items-center gap-2">
                                                    <button class="btn-ghost flex cursor-pointer tooltip tooltip-left" onclick="document.getElementById('sua_ti_le_modal_@(canBoGiangVienSK.MaCBGV)_@(canBoGiangVienSK.MaSK)').showModal()" data-tip="Sửa tỷ lệ đóng góp">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--color-base-content)">
                                                            <path d="M203.08-203.08h41.46L673.08-631.5l-41.58-41.58-428.42 428.66v41.34Zm-36.93 36.93v-94L688.46-783.5q5.53-4.95 12.21-7.65 6.67-2.7 14.24-2.7 7.43 0 14.39 2.48 6.97 2.49 13.35 8.1l40.85 40.96q5.62 5.89 7.98 12.84 2.37 6.95 2.37 14.03 0 7.56-2.58 14.5-2.57 6.94-7.84 12.28L260.15-166.15h-94Zm591.54-549.43-42.11-42.11 42.11 42.11Zm-105.73 63.62-20.46-21.12 41.58 41.58-21.12-20.46Z"/>
                                                        </svg>
                                                    </button>
                                                    <button class="btn-ghost flex cursor-pointer tooltip tooltip-left" onclick="document.getElementById('xoa_tvth_sk_modal_@(canBoGiangVienSK.MaCBGV)_@(canBoGiangVienSK.MaSK)').showModal()" data-tip="Xóa thành viên thực hiện sáng kiến">
                                                        <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="var(--color-error)">
                                                            <path d="m336-310.81 144-144 144 144L649.58-336l-144-144 144-144L624-649.58l-144 144-144-144L310.81-624l144 144-144 144L336-310.81ZM226.89-165.54q-25.75 0-43.55-17.8-17.8-17.8-17.8-43.55v-506.22q0-25.75 17.8-43.55 17.8-17.8 43.55-17.8h506.22q25.75 0 43.55 17.8 17.8 17.8 17.8 43.55v506.22q0 25.75-17.8 43.55-17.8 17.8-43.55 17.8H226.89Zm.19-36.92h505.84q9.23 0 16.93-7.69 7.69-7.7 7.69-16.93v-505.84q0-9.23-7.69-16.93-7.7-7.69-16.93-7.69H227.08q-9.23 0-16.93 7.69-7.69 7.7-7.69 16.93v505.84q0 9.23 7.69 16.93 7.7 7.69 16.93 7.69Zm-24.62-555.08V-202.46-757.54Z"/>
                                                        </svg>
                                                    </button>

                                                    <dialog id="xoa_tvth_sk_modal_@(canBoGiangVienSK.MaCBGV)_@(canBoGiangVienSK.MaSK)" class="modal">
                                                        <div class="modal-box p-3">
                                                            <h3 class="text-lg font-medium">
                                                                Xác nhận
                                                            </h3>
                                                            <p class="text-base mb-3 mt-2">
                                                                Bạn có chắc chắn muốn thành viên thực hiện sáng kiến "@canBoGiangVienSK.MaCBGV - @canBoGiangVienSK.HoTen" không?
                                                            </p>
                                                            <form method="post" asp-action="XoaCBGVSK" asp-controller="SangKien" class="flex flex-col gap-3">
                                                                <input type="hidden" asp-for="CBGVSangKienVM.MaCBGV" value="@canBoGiangVienSK.MaCBGV">
                                                                <input type="hidden" asp-for="CBGVSangKienVM.MaSK" value="@canBoGiangVienSK.MaSK">
                                                                <div class="modal-action mt-0 gap-3 ml-auto">
                                                                    <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('xoa_tvth_sk_modal_@(canBoGiangVienSK.MaCBGV)_@(canBoGiangVienSK.MaSK)').close()">Thoát</button>
                                                                    <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Xóa</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </dialog>

                                                    <dialog id="sua_ti_le_modal_@(canBoGiangVienSK.MaCBGV)_@(canBoGiangVienSK.MaSK)" class="modal">
                                                        <div class="modal-box p-3">
                                                            <h3 class="text-lg font-medium mb-3">
                                                                Cập nhật tỉ lệ đóng góp của thành viên thực hiện sáng kiến "@canBoGiangVienSK.MaCBGV - @canBoGiangVienSK.HoTen"
                                                            </h3>
                                                            <form method="post" asp-action="SuaTiLe" asp-controller="SangKien" class="flex flex-col gap-3">
                                                                <input type="hidden" asp-for="CBGVSangKienVM.MaCBGV" value="@canBoGiangVienSK.MaCBGV">
                                                                <input type="hidden" asp-for="CBGVSangKienVM.MaSK" value="@canBoGiangVienSK.MaSK">
                                                                <label>
                                                                    Tỉ lệ % đóng góp
                                                                    <input type="number" asp-for="CBGVSangKienVM.TiLeDongGop" class="input w-full mt-1" placeholder="Nhập tỉ lệ % đóng góp">
                                                                    <span asp-validation-for="CBGVSangKienVM.TiLeDongGop" class="text-error text-sm"></span>
                                                                </label>
                                                                <div class="modal-action mt-0 gap-3 ml-auto">
                                                                    <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('sua_ti_le_modal_@(canBoGiangVienSK.MaCBGV)_@(canBoGiangVienSK.MaSK)').close()">Thoát</button>
                                                                    <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Cập nhật</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </dialog>
                                                </div>
                                            </td>
                                        </tr>
                                        stttcbgv++; 
                                    }
                                } else {
                                    <tr>
                                        <td colspan="6" class="text-center">Danh sách rỗng</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            }
        </div>
    }
    @if(Model.MaSK > 0 && !string.IsNullOrEmpty(Model.UrlTepSK)) {
        <iframe src="@(Model.UrlTepSK)?v=@DateTimeOffset.UtcNow.ToUnixTimeSeconds()" 
            width="100%" 
            height="600px"
            class="rounded-box border border-base-300 mt-3">
        </iframe>
        @if (!string.IsNullOrEmpty(Model.UrlTepDinhKem)) {
            <a href="@Model.UrlTepDinhKem" target="_blank" class="text-primary mt-3 block">[Xem tệp đính kèm]</a>
        }
        <div class="flex gap-3 justify-end items-center flex-wrap mt-3">
            @if((Model.TrangThaiSK == "CHO_DUYET" || Model.TrangThaiSK == "YEU_CAU_CHINH_SUA") && quyenHienTai == "DVTT" && maCBGVHienTai != Model.MaCBGV && (Model.DSCanBoGiangVienSK != null && !Model.DSCanBoGiangVienSK.Any(c => c.MaCBGV == maCBGVHienTai))) {
                <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('yeu_cau_chinh_sua_sang_kien_modal').showModal()">Yêu cầu chỉnh sửa</button>
                if(Model.HanChinhSua != null && Model.HanChinhSua < DateTime.Now) {
                    <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('tu_choi_sang_kien_modal').showModal()">Từ chối</button>
                }
                <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('chap_nhan_sang_kien_modal').showModal()">Chấp nhận</button>
            }
            @if(Model.TrangThaiSK == "KHONG_CONG_NHAN" && (maCBGVHienTai == Model.MaCBGV || Model.DSCanBoGiangVienSK == null || !Model.DSCanBoGiangVienSK.Any(c => c.MaCBGV == maCBGVHienTai))) {
                <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('yeu_cau_phuc_khao_sang_kien_modal').showModal()">Yêu cầu phúc khảo</button>
            }
            @if(Model.TrangThaiSK == "YEU_CAU_PHUC_KHAO" && quyenHienTai == "BGD" && maCBGVHienTai != Model.MaCBGV && (Model.DSCanBoGiangVienSK != null && !Model.DSCanBoGiangVienSK.Any(c => c.MaCBGV == maCBGVHienTai))) {
                <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('chap_nhan_phuc_khao_sang_kien_modal').showModal()">Chấp nhận phúc khảo</button>
            }
            @if((quyenHienTai == "BGD" || quyenHienTai == "DVTT") && maCBGVHienTai != Model.MaCBGV && (Model.DSCanBoGiangVienSK != null && !Model.DSCanBoGiangVienSK.Any(c => c.MaCBGV == maCBGVHienTai))) {
                <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('gui_phan_hoi_sang_kien_modal').showModal()">Phản hồi</button>
            }
            @if(maVaiTroHD > 0 && (Model.TrangThaiSK == "CHO_DANH_GIA" ? !Model.DaDanhGiaTrongHoiDongHienTai : Model.TrangThaiSK == "CHO_PHUC_KHAO") && maCBGVHienTai != Model.MaCBGV && (Model.DSCanBoGiangVienSK != null && !Model.DSCanBoGiangVienSK.Any(c => c.MaCBGV == maCBGVHienTai))) {
                <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('danh_gia_sang_kien_modal').showModal()">Đánh giá</button>
            }
        </div>
    }

    @if(Model.DSPhanHoi != null && Model.DSPhanHoi.Count > 0) {
        <div class="border border-base-300 p-3 rounded-box mt-3">
            <h3 class="text-base mb-3">Phản hồi</h3>
            <div class="flex flex-col gap-3">
                @foreach(var phanHoi in Model.DSPhanHoi) {
                    <div class="border border-base-300 p-3 rounded-box">
                        <p class="font-medium">@(phanHoi.MaCBGV == maCBGVHienTai ? "Bạn" : phanHoi.TenCBGV + " (" + phanHoi.TenDV + ")")</p>
                        <p>↳ @phanHoi.NoiDung</p>
                        <p class="text-xs text-base-content/70">@(phanHoi.NgayGui.ToString("HH:mm - dd/MM/yyyy"))</p>
                    </div>
                }
            </div>
        </div>
    }

    @if ((maVaiTroHD == 1 || maVaiTroHD == 2 || maVaiTroHD == 4)) {
        <div class="border border-base-300 p-3 rounded-box mt-3">
            <h3 class="text-base mb-3">Danh sách đánh giá</h3>
            <div class="overflow-x-auto rounded-box border border-base-300">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="p-2 text-base-content w-20">STT</th>
                            <th class="p-2 text-base-content">Họ tên</th>
                            <th class="p-2 text-base-content">Ý kiến nhận xét</th>
                            <th class="p-2 text-base-content">Công nhận</th>
                            <th class="p-2 text-base-content">Lần đánh giá</th>
                            <th class="p-2 text-base-content">Ngày đánh giá</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ var sttDanhGia = 1; }
                        @if(Model.DSDanhGia != null && Model.DSDanhGia.Count > 0) {
                            @foreach(var danhGia in Model.DSDanhGia) {
                                <tr class="align-top">
                                    <td class="p-2">@sttDanhGia</td>
                                    <td class="p-2">@danhGia.TenCBGV</td>
                                    <td class="p-2">@danhGia.YKienNhanXet</td>
                                    <td class="p-2">@(danhGia.CongNhan == 1 ? "Có" : "Không")</td>
                                    <td class="p-2">@danhGia.LanDG</td>
                                    <td class="p-2">@(danhGia.NgayDG.ToString("dd/MM/yyyy"))</td>
                                </tr>
                                sttDanhGia++;
                            }
                        } else {
                            <tr>
                                <td colspan="5" class="p-2 text-center">Danh sách rỗng</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>

            @if (maVaiTroHD == 1 && Model.TatCaHoiDongDaDanhGia && Model.TrangThaiSK != "DA_CONG_NHAN" && Model.TrangThaiSK != "KHONG_CONG_NHAN")
            {
                <div class="flex gap-3 justify-end items-center flex-wrap mt-3">
                    <button type="button" class="btn btn-outline btn-primary hover:text-base-100 font-normal shadow-none" onclick="document.getElementById('quyet_dinh_sang_kien_modal').showModal()">Quyết định</button>
                </div>
            }
        </div>
    }
</div>

<dialog id="them_thanh_vien_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium mb-3">
            Thêm thành viên thực hiện sáng kiến
        </h3>
        <form method="post" asp-action="LuuCBGVSK" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" asp-for="CBGVSangKienVM.MaSK" value="@Model.MaSK">
            <label>
                Thành viên thực hiện sáng kiến
                <select asp-for="CBGVSangKienVM.MaCBGV" asp-items="Model.DSCanBoGiangVien" class="select w-full mt-1">
                    <option disabled selected>Chọn thành viên thực hiện sáng kiến</option>
                </select>
                <span asp-validation-for="CBGVSangKienVM.MaCBGV" class="text-error text-sm"></span>
            </label>
            <label>
                Tỉ lệ % đóng góp
                <input type="number" asp-for="CBGVSangKienVM.TiLeDongGop" class="input w-full mt-1" placeholder="Nhập tỉ lệ % đóng góp">
                <span asp-validation-for="CBGVSangKienVM.TiLeDongGop" class="text-error text-sm"></span>
            </label>
            <div class="modal-action mt-0 gap-3 ml-auto">
                @if(Model.DSCanBoGiangVienSK != null && Model.DSCanBoGiangVienSK.Count > 0) {
                    <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('them_thanh_vien_sang_kien_modal').close()">Thoát</button>
                }
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Lưu</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="danh_gia_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium mb-3">
            Đánh giá sáng kiến "@Model.TenSK"
        </h3>
        <form method="post" asp-action="DanhGia" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" asp-for="DanhGiaVM.MaSK" value="@Model.MaSK">
            <input type="hidden" asp-for="DanhGiaVM.LanDG" value="@Model.DanhGiaVM.LanDG">
            <label>
                Ý kiến nhận xét
                <textarea asp-for="DanhGiaVM.YKienNhanXet" class="textarea w-full mt-1" rows="4" placeholder="Nhập ý kiến nhận xét"></textarea>
                <span asp-validation-for="DanhGiaVM.YKienNhanXet" class="text-error text-sm"></span>
            </label>
            <label>
                Biểu quyết
                <label class="flex items-center gap-3 mt-1">
                    <input type="radio" asp-for="DanhGiaVM.CongNhan" value="0" class="radio radio-sm radio-primary">
                    <span class="mr-3">Không đồng ý</span>
                </label>
                <label class="flex items-center gap-3 mt-1">
                    <input type="radio" asp-for="DanhGiaVM.CongNhan" checked value="1" class="radio radio-sm radio-primary">
                    <span class="mr-3">Đồng ý</span>
                </label>
            </label>
            <div class="modal-action mt-0 gap-3 ml-auto">
                @if(Model.DSCanBoGiangVienSK != null && Model.DSCanBoGiangVienSK.Count > 0) {
                    <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('danh_gia_sang_kien_modal').close()">Thoát</button>
                }
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Lưu</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="quyet_dinh_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium mb-3">
            Quyết định công nhận cho "@Model.TenSK"
        </h3>
        <form method="post" asp-action="QuyetDinh" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" name="MaSK" value="@Model.MaSK" />
            <label>
                Quyết định
                <label class="flex items-center gap-3 mt-1">
                    <input type="radio" name="CongNhan" value="0" class="radio radio-sm radio-primary">
                    <span class="mr-3">Không công nhận</span>
                </label>
                <label class="flex items-center gap-3 mt-1">
                    <input type="radio" name="CongNhan" value="1" class="radio radio-sm radio-primary" checked>
                    <span class="mr-3">Công nhận</span>
                </label>
            </label>
            <div class="modal-action mt-0 gap-3 ml-auto">
                @if(Model.DSCanBoGiangVienSK != null && Model.DSCanBoGiangVienSK.Count > 0) {
                    <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('quyet_dinh_sang_kien_modal').close()">Thoát</button>
                }
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Lưu</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="nop_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium">
            Xác nhận
        </h3>
        <p class="text-base mb-3 mt-2">
            Bạn có chắc chắn muốn nộp sáng kiến "@Model.TenSK" không?
        </p>
        <form method="post" asp-action="Nop" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" name="ma" value="@Model.MaSK">
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('nop_sang_kien_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Nộp</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="chap_nhan_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium">
            Xác nhận
        </h3>
        <p class="text-base mb-3 mt-2">
            Bạn có chắc chắn muốn chấp nhận đánh giá sáng kiến "@Model.TenSK" không?
        </p>
        <form method="post" asp-action="ChapNhan" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" name="ma" value="@Model.MaSK">
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('chap_nhan_sang_kien_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Chấp nhận</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="chap_nhan_phuc_khao_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium">
            Xác nhận
        </h3>
        <p class="text-base mb-3 mt-2">
            Bạn có chắc chắn muốn chấp nhận phúc khảo sáng kiến "@Model.TenSK" không?
        </p>
        <form method="post" asp-action="ChapNhanPhucKhao" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" name="ma" value="@Model.MaSK">
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('chap_nhan_phuc_khao_sang_kien_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Chấp nhận</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="gui_phan_hoi_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium mb-3">
            Phản hồi về sáng kiến "@Model.TenSK"
        </h3>
        <form method="post" asp-action="PhanHoi" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" asp-for="PhanHoiVM.MaSK" value="@Model.MaSK">
            <label>
                Nội dung phản hồi
                <textarea asp-for="PhanHoiVM.NoiDung" class="textarea w-full mt-1" rows="4" placeholder="Nhập nội dung phản hồi"></textarea>
                <span asp-validation-for="PhanHoiVM.NoiDung" class="text-error text-sm"></span>
            </label>
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('gui_phan_hoi_sang_kien_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Gửi</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="tu_choi_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium mb-3">
            Từ chối sáng kiến "@Model.TenSK"
        </h3>
        <form method="post" asp-action="TuChoi" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" asp-for="PhanHoiVM.MaSK" value="@Model.MaSK">
            <label>
                Lý do từ chối
                <textarea asp-for="PhanHoiVM.NoiDung" class="textarea w-full mt-1" rows="4" placeholder="Nhập lý do từ chối"></textarea>
                <span asp-validation-for="PhanHoiVM.NoiDung" class="text-error text-sm"></span>
            </label>
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('tu_choi_sang_kien_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Gửi</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="yeu_cau_phuc_khao_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium mb-3">
            Yêu cầu phúc khảo sáng kiến "@Model.TenSK"
        </h3>
        <form method="post" asp-action="YeuCauPhucKhao" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" asp-for="PhanHoiVM.MaSK" value="@Model.MaSK">
            <label>
                Nội dung yêu cầu phúc khảo
                <textarea asp-for="PhanHoiVM.NoiDung" class="textarea w-full mt-1" rows="4" placeholder="Nhập nội dung yêu cầu phúc khảo"></textarea>
                <span asp-validation-for="PhanHoiVM.NoiDung" class="text-error text-sm"></span>
            </label>
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('yeu_cau_phuc_khao_sang_kien_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Gửi</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="yeu_cau_chinh_sua_sang_kien_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium mb-3">
            Yêu cầu chỉnh sửa sáng kiến "@Model.TenSK"
        </h3>
        <form method="post" asp-action="YeuCauChinhSua" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" asp-for="PhanHoiVM.MaSK" value="@Model.MaSK">
            <label>
                Nội dung yêu cầu chỉnh sửa
                <textarea asp-for="PhanHoiVM.NoiDung" class="textarea w-full mt-1" rows="4" placeholder="Nhập nội dung yêu cầu chỉnh sửa"></textarea>
                <span asp-validation-for="PhanHoiVM.NoiDung" class="text-error text-sm"></span>
            </label>
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('yeu_cau_chinh_sua_sang_kien_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Gửi</button>
            </div>
        </form>
    </div>
</dialog>

<dialog id="xoa_tep_modal" class="modal">
    <div class="modal-box p-3">
        <h3 class="text-lg font-medium">
            Xác nhận
        </h3>
        <p class="text-base mb-3 mt-2">
            Bạn có chắc chắn muốn xóa tệp đính kèm của sáng kiến "@Model.TenSK" không?
        </p>
        <form method="post" asp-action="XoaTep" asp-controller="SangKien" class="flex flex-col gap-3">
            <input type="hidden" name="ma" value="@Model.MaSK">
            <div class="modal-action mt-0 gap-3 ml-auto">
                <button type="button" class="btn btn-soft font-normal shadow-none" onclick="document.getElementById('xoa_tep_modal').close()">Thoát</button>
                <button type="submit" class="btn btn-primary text-base-100 font-normal shadow-none">Xóa</button>
            </div>
        </form>
    </div>
</dialog>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@if (TempData["Success"] != null)
{
    <div id="toast" class="toast toast-top toast-end">
        <div class="alert alert-success">
            <span class="text-white">@TempData["Success"]</span>
        </div>
    </div>
}

@if (TempData["Error"] != null)
{
    <div id="toast" class="toast toast-top toast-end">
        <div class="alert alert-error">
            <span class="text-white">@TempData["Error"]</span>
        </div>
    </div>
}

<script>
    document.addEventListener("DOMContentLoaded", function () {
        setTimeout(() => {
            document.getElementById('toast')?.remove();
        }, 3000);

        const inputFile = document.getElementById("FileDinhKem");
        const loiFile = document.querySelector('[data-valmsg-for="FileDinhKem"]');

        inputFile.addEventListener("change", function () {
            loiFile.textContent = "";
            const file = this.files[0];

            if (!file) return;

            const allowedExtensions = [
                ".pdf",
                ".doc",
                ".docx"
            ];

            const fileName = file.name.toLowerCase();

            const isValidExtension = allowedExtensions.some(ext =>
                fileName.endsWith(ext)
            );

            if (!isValidExtension) {
                loiFile.textContent = "Chỉ chấp nhận file PDF hoặc Word";
                this.value = "";

                return;
            }

            const maxSize = 10 * 1024 * 1024; 

            if (file.size > maxSize) {
                loiFile.textContent = "Kích thước file tối đa 10MB";
                this.value = "";

                return;
            }
        });

        const ngayInput = document.getElementById("NgayApDung");
        const loiNgayApDung = document.querySelector('[data-valmsg-for="NgayApDung"]');

        ngayInput.addEventListener("change", function () {

            loiNgayApDung.textContent = "";

            if (!this.value) return;

            const selectedDate = new Date(this.value);

            const today = new Date();
            today.setHours(0, 0, 0, 0);

            const oneYearAgo = new Date(today);
            oneYearAgo.setFullYear(oneYearAgo.getFullYear() - 1);

            if (selectedDate > today) {

                loiNgayApDung.textContent = "Ngày áp dụng phải trước ngày hiện tại";

            } else if (selectedDate < oneYearAgo) {

                loiNgayApDung.textContent = "Ngày áp dụng không được quá 01 năm tính đến hiện tại";
            }
        });

        const soThanhVien = @(Model?.DSCanBoGiangVienSK != null ? Model.DSCanBoGiangVienSK.Count : 0);
        const maSK = @(Model?.MaSK ?? 0);

        if (soThanhVien <= 0 && maSK > 0) {
            document.getElementById('them_thanh_vien_sang_kien_modal').showModal()
        }
    });
</script>